<div class="index row">
  <%# YOUR CATAGORY NAME %>
    <div style="margin: 20px auto;">
      <form method="POST" action="/">
              <input type="text" name="ori_url" placeholder="Enter Your LOOONG URL" class="input_box">
              <input class="button" type="submit" value="SHORTEN">
      </form>
    </div>

    <div class="column" style="text-align:center; margin: 20px auto;">
      <% if @return_url != nil %>
      <%# <% byebug %>
          <a href="/<%= @return_url.short_url%>" target="_blank"><%=@return_url.short_url%></a>
        <br>
          <%=p @return_url.ori_url %>
        <% else %>
          <h4 style="text-align:center;"> Do SOMETHING!<h4>
        <% end %>
    </div>
    <%# <%byebug %> 
    <div class="column">
        <% if @urls.empty?%>
          <h4 style="text-align:center;">You are the first one to Conquer the World!<h4>
        <% else %>
          <h3>Lastest Shorten Urls</h3>
          <hr>
          <% if @urls_count > 5 %>
            <%5.times do |n| %>
                          <div style="text-align:center;">
                          <a href="/<%=@urls.all[@urls_count-(n+1)].short_url%>" target="_blank"><%=@urls.all[@urls_count-(n+1)].short_url%></a>
                          <br>
                          <%=@urls.all[@urls_count-(n+1)].ori_url %>
                          <br>
                          <p>(<%=@urls.all[@urls_count-(n+1)].freq%>) visited this link</p>
                          <hr>
                          </div>
              <% end %>
          <%else %>
            <%@urls_count.times do |n| %>
                        <div style="text-align:center;">
                        <a href="/<%=@urls.all[@urls_count-(n+1)].short_url%>" target="_blank"><%=@urls.all[@urls_count-(n+1)].short_url%></a>
                        <br>
                        <%=@urls.all[@urls_count-(n+1)].ori_url %>
                        <br>
                        <p>(<%=@urls.all[@urls_count-(n+1)].freq%>) visited this link</p>
                        <hr>
                        </div>
            <% end %>
            <% end %>
      <% end %>
    </div>
</div>
 